html, body, h1{
    margin: 0;
    padding: 0;
}

nav{
    width: 100%;
    height: 80px;
    background-color: gray;    
}

.nav-con{
    width: 60%;
    height: 50px;
    margin-top: 5px;
    margin-left: 30%;
    margin-right: 10%;
}

.nav-con ul{
    list-style: none;
}

.nav-con li{
    float: left;
    height: 26px;
    background-color: white;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-con li:hover{
    background-color: #2b2b2b;
    color: white;
    cursor: pointer;
}

.active{
    background-color: #2b2b2b !important;
    color: white;
}

header{
    width: 78%;
    height: 300px;
    background-color: lightgray;
    padding-top: 150px;
    padding-left: 11%;
    padding-right: 11%;
}

section{
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
}


.full{
    height: 170px;
}

.col-12{
    width: 100%;
    height: 100px;
    background-color: gray;
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 1%;
}

.third{
    height: 320px;
}

.col-4{
    width: 31.33%;
    height: 300px;
    background-color: gray;
    color: white;
    text-align: center;
    margin: 1%;
    float: left;
}

.quarter{
    height: 320px;
}

.col-3{
    width: 23%;
    height: 300px;
    background-color: gray;
    color: white;
    text-align: center;
    margin: 1%;
    float: left;
}

.half{
    height: 370px;
}

.col-6{
    width: 48%;
    height: 300px;
    background-color: gray;
    color: white;
    text-align: center;
    margin: 1%;
    float: left;
}


footer{
    width: 100%;
    height: 150px;
    background-color: #2b2b2b;
    color: white;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    padding-top: 50px;
    margin-top: 50px;
}